html,
body,
main {
  height: 100%
}

.section-title {
 max-height: 38px; 
  @include font-size(2rem);
  font-weight: 700;
}

.navbar-spacing {
  padding-left: 21px;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 23px;

  @media (min-width: 768px) {
    padding-right: 2rem;
  }
}

.py-25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.ps-32 {
  padding-left: 2rem;
}

.mxw-558 {
  max-width: 558px;
}