-
	const currentContact = {
		name: 'Вениамин Редакторович',
		status: 'Онлайн',
		avatar: './images/avatar_4.jpg',
	};
	
	const messages = [
		{
			avatar: './images/avatar_4.jpg',
			name: 'Вениамин Редакторович',
			text: 'Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?',
			timing: '8 минут назад',
		},
		{
			avatar: '',
			name: '',
			text: 'Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень',
			timing: '5 минут назад',
		},
		{
			avatar: './images/avatar_4.jpg',
			name: 'Вениамин Редакторович',
			text: 'Лады',
			timing: '5 минут назад',
		},
		{
			avatar: '',
			name: '',
			text: 'А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие',
			timing: '3 минуты назад',
		},
		{
			avatar: './images/avatar_4.jpg',
			name: 'Вениамин Редакторович',
			text: 'О_о',
			timing: 'Только что',
		},
	];