-
	var chats = {
		"В": [{
			name: "Вениамин Редакторович",
			status: "Онлайн",
			avatar: "./images/avatar_4.jpg",
			time: "11:45",
			message: "о_О"
		}],

		"Д": [{
			name: "Джедай Падаванов",
			status: "Был онлайн вчера",
			avatar: "./images/avatar_2.jpg",
			time: "10:12",
			message: "Привет, скоро третий проект? Уже скоро надо будет выложить"
		}],

		"A": [{
			name: "Алексей Примадонин",
			status: "Онлайн",
			avatar: "./images/avatar_3.jpg",
			time: "08:53",
			message: "Тесты упали >_<"
		}],
	};

ul.list-group.gap-2
	each users, category in chats
		each user in users
			if user.time
				li.list-group-item.p-0.border-0
					include message-preview.pug