form(action='#')
	ul.list-group.list-group-flush
		li.list-group-item
			.input-group
				.form-floating
					input.form-control-plaintext.form-control-sm(type='text' id='info-city' placeholder='Введите ваш город' value='Москва, Россия')
					label(for='info-city') Страна
				.input-group-text.bg-white.border-0
					img.profile-info-icon(src='./images/icons/web.svg' alt='web')
		li.list-group-item
			.input-group
				.form-floating
					input.form-control-plaintext.form-control-sm(type='tel' id='info-tel' placeholder='Введите ваш телефон' value='+7 (499) 123-45-67')
					label(for='info-tel') Телефон
				.input-group-text.bg-white.border-0
					img.profile-info-icon(src='./images/icons/phone.svg' alt='tel')
		li.list-group-item
			.input-group
				.form-floating
					input.form-control-plaintext.form-control-sm(type='email' id='info-email' placeholder='Введите ваш email' value='nikita.m@hexlet.io')
					label(for='info-email') Email
				.input-group-text.bg-white.border-0
					img.profile-info-icon(src='./images/icons/mail.svg' alt='mail')
		li.list-group-item
			.input-group
				.form-floating
					input.form-control-plaintext.form-control-sm(type='text' id='info-twitter' placeholder='Укажите ваш аккаунт Twitter' value='@n_mikhaylov')
					label(for='info-twitter') Twitter
				.input-group-text.bg-white.border-0
					img.profile-info-icon(src='./images/icons/people.svg' alt='social')