.card.align-items-center.border-0.py-25.px-3
	img.avatar.avatar-md(src='../app/images/avatar_1.jpg' alt='profile avatar')
	.card-body.text-center
		.card-title.fw-bold Кодовёнок Хекслетович
		.card-text.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript