.card.align-items-center.border-0.py-25.px-3
	img.avatar.avatar-lg(src='./images/avatar_1.jpg' alt='profile avatar')
	.card-body.text-center
		.card-title.fw-bold Привет, Кодовёнок
		.card-text.text-muted Выберите чат, чтобы начать общаться