.contact {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 1rem;
	color: $gray-900;
  text-decoration: none;

	&-title {
		overflow-x: hidden;
	}

	&-name {
		font-weight: 700;
	}

	&-status {
		font-size: 0.8rem;
		color: $gray-600;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:hover,
	&:focus {
		color: $light;
		background-color: $primary;

		& .contact-status {
			color: $gray;
		}
	}
}