nav.order-last.order-md-first.navbar.navbar-dark.navbar-expand.bg-primary.navbar-spacing.gap-lg-5
	a.navbar-brand.p-0.m-0.d-flex(href='#')
		img(src='./images/icons/logo.svg' alt='hexlet-logo').logo
	ul.navbar-nav.small.w-100.justify-content-end.justify-content-md-between.gap-5.gap-md-0(role='tablist')
		li.nav-item
			a(data-bs-toggle='tab' data-bs-target='#contacts' role='tab' type='button' aria-controls='contacts' aria-selected='true').nav-link.d-flex.p-0.gap-0.gap-sm-1.active
				img(src='./images/icons/people.svg' alt='contacts').nav-icon
				span.d-none.d-sm-block Контакты
		li.nav-item
			a(data-bs-toggle='tab' data-bs-target='#chats' role='tab' type='button' aria-controls='chats' aria-selected='false').nav-link.d-flex.p-0.gap-0.gap-sm-1
				img(src='./images/icons/chat.svg' alt='chats').nav-icon
				span.d-none.d-sm-block Сообщения
		li.nav-item
			a(data-bs-toggle='tab' data-bs-target='#profile' role='tab' type='button' aria-controls='profile' aria-selected='false').nav-link.d-flex.p-0.gap-0.gap-sm-1
				img(src='./images/icons/person.svg' alt='profile').nav-icon
				span.d-none.d-sm-block Профиль