unless chat
	section.tab-pane.pt-5.px-4.active(role='tabpanel' aria-labelledby='contacts-tab' id='contacts' tabindex='0')
		h1.section-title.mb-4.mb-md-5 Контакты
		form(action='#').mb-5
			lable.visually-hidden(for='searching-contact') Поиск по контактам
			input(id='searching-contact' type='search' placeholder='Поиск по контактам').form-control-plaintext.p-4.border-bottom
		include ../components/contact-list.pug
else
	section.tab-pane.pt-5.px-4(role='tabpanel' aria-labelledby='contacts-tab' id='contacts' tabindex='0')
		h1.section-title.mb-4.mb-md-5 Контакты
		form(action='#').mb-5
			lable.visually-hidden(for='searching-contact') Поиск по контактам
			input(id='searching-contact' type='search' placeholder='Поиск по контактам').form-control-plaintext.p-4.border-bottom
		include ../components/contact-list.pug