section.tab-pane.pt-5.px-4(role='tabpanel' aria-labelledby='profile-tab' id='profile' tabindex='0')
	h1.section-title.mb-4 Профиль
	form(action='#').mb-5.border-bottom
		lable.visually-hidden(for='searching-profile') Поиск по сообщениям
		input(id='searching-profile' type='search' placeholder='Поиск по сообщениям').form-control-plaintext.p-4.border-0
	include ../components/profile-card-md.pug
	include ../components/profile-info.pug