meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')

title
	if title
		| Hexlet-Chat | #{title} | mrAnderson90
	else
		| Страница не существует

link(rel='stylesheet' href='./styles/app.css')