.col.col-md-7.col-lg-4.h-100.d-flex.flex-column.p-0.border-0.border-end-md
	include left-side/navbar.pug
	.tab-content.h-100.hide-scrollbar
		include left-side/section-contacts.pug
		include left-side/section-chats.pug
		include left-side/section-profile.pug