include mixins.pug

.container-xxl.h-100.p-0.p-md-4.bg-gray
	.row.h-100.rounded-0.rounded-md-4.mx-0.bg-white.overflow-hidden
		.col.col-md-4.h-100.d-flex.flex-column.p-0.border-0.border-end-md
			include navbar.pug
			.tab-content.h-100.hide-scrollbar
				include section-contacts.pug
				include section-chats.pug
		.col-8.p-0.d-none.d-md-block
