mixin left-side
	section.pt-5.px-4.border-end(role='tabpanel' aria-labelledby=sectionLabel id=sectionID)
		h1.mb-4.mb-md-5 #{sectionName}
		form(action='#')
			lable
				input(type='search' placeholder=sectionPlaceholder)
		block
