section.tab-pane.pt-5.px-4(role='tabpanel' aria-labelledby='chats-tab' id='chats' tabindex='0')
	h1.mb-4.mb-md-5 Чаты
	form(action='#').mb-5
		lable.visually-hidden(for='searching-chat') Поиск по сообщениям
		input(id='searching-chat' type='search' placeholder='Поиск по сообщениям').form-control-plaintext.p-4.border-bottom
	include components/message-list.pug