section.tab-pane.pt-5.px-4.active(role='tabpanel' aria-labelledby='contacts-tab' id='contacts' tabindex='0')
	h1.mb-4.mb-md-5 Контакты
	form(action='#').mb-5
		lable
			input(type='search' placeholder='Поиск по контактам')
	include components/contact-list.pug